.dropmenu(@inputHeight: 32px, @activeOptionsHeight: 100px){
	&.gb-selector{
		display: inline-block;position: relative;
		.input{ position: relative;z-index: 2;cursor: pointer; }
		input{ height: @inputHeight;outline: none;padding-left: 5px;cursor: pointer; }
		&>.options{ 
			background-color: #FFFFFF;width: 100%;overflow: hidden;
			.absolute(@top: @inputHeight);z-index: 1;overflow: auto;
			.transition(all, 0.25s, ease-in-out);
			.box-shadow(0 0 5px rgb(180,180,180));
			height: 0;
			&.active{
				height: @activeOptionsHeight; 
			}
		}
		.options>li{
			cursor: pointer;
		}
	}
}
.dropmenu{
	.dropmenu();
	.options>li{ height: 30px; }
}